# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*                   @fluxcd/core-maintainers

# The following have a bit more specific owners and require e.g.
# specific domain expertise.
/actions/           @stefanprodan
/apis/              @hiddeco @stefanprodan
/ssa/               @stefanprodan
/runtime/           @hiddeco @stefanprodan
/sourceignore/      @hiddeco
/kustomize/         @stefanprodan
/git/               @aryan9600 @hiddeco
/oci/               @stefanprodan
