name: actions

on:
  pull_request:
  push:
    paths:
      - 'actions/**'
    branches:
      - main

permissions: read-all

jobs:
  actions:
    strategy:
      fail-fast: false
      matrix:
        version: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.version }}
    name: actions on ${{ matrix.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Setup yq
        uses: ./actions/yq
      - name: Setup kubeconform
        uses: ./actions/kubeconform
      - name: Setup envtest
        uses: ./actions/envtest
        with:
          version: c7e1dc9b5302d649d5531e19168dd7ea0013736d # remove this when https://github.com/kubernetes-sigs/controller-runtime/issues/2720 is fixed
      - name: Setup helm
        uses: ./actions/helm
      - name: Setup kubectl
        uses: ./actions/kubectl
      - name: Setup kustomize
        uses: ./actions/kustomize
      - name: Setup sops
        uses: ./actions/sops
